<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div #myNavbar class="navbar-collapse collapse" id="navbarsExample01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="hideNavbar('login')" data-toggle="collapse" data-target="#navbarsExample01" >
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="hideNavbar('home')" data-toggle="collapse" data-target="#navbarsExample01" >
                        Recomendados
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="hideNavbar('search')" data-toggle="collapse" data-target="#navbarsExample01">
                        Suma un track
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="hideNavbar('playpub')" data-toggle="collapse" data-target="#navbarsExample01">
                        Playlist
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="navbar-brand d-flex align-items-center">
            <span class="fab fa-spotify" style="padding-right:0.5em;"></span>
            <strong>spotyPub</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br>
    <br>
</header>
