<app-loading *ngIf="loadingArtist"></app-loading>
<app-loading *ngIf="loading"></app-loading>

<div class="container">

  <div style="padding:1em;"  class="media animated fadeIn list-inline align-items-center" *ngIf="!loadingArtist">
    <img [src]="artista.images | noimage" class="img-circle" style="width: 5em;"/>
    <div class="media-body" style="padding: 2em;">
      <h3 class="mt-0">{{ artista.name }}</h3>
      <a [href]="artista.external_urls.spotify" target="_blank">
          Popularidad: {{ artista.popularity }}
        </a>
    </div>
  </div>

  <!--ul class="list-unstyled list-inline ">
    <div *ngFor="let track of topTracks">
      <li style="padding-top: 0.5em" class="media" >
        <img [src]="track.album.images | noimage" class="mr-3 img-circle" style="width: 3em;" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ track.name }}</h5>
          <p>{{ track.album.name }}</p>
        </div>
        <span (click)="setNextTrack(track.id)" class="far fa-play-circle fa-2x" aria-hidden="true"></span>
        <br>
      </li>
      <iframe [src]="track.uri | domseguro" frameborder="0" allowtransparency="true" allow="encrypted-media"> 

      </iframe>
    </div>
  </ul-->

  <div class="accordion" id="accordionExample">
    <div *ngFor="let track of topTracks">
        <div class="media" data-toggle="collapse" [attr.data-target]="'#' + track.id">  
          <img [src]="track.album.images | noimage" class="mr-3 img-circle" style="width: 2em;" alt="...">
          <div class="media-body" style="padding-right: 0.8em;">
            <h5 class="mt-0 mb-1" style="font-size: 0.9em">{{ track.name }}</h5>
            <p style="font-size: 0.7em">{{ track.album.name }}</p>
          </div>
          <div style="font-size: 0.9em">
              {{millisToMinutesAndSeconds(track.duration_ms)}}
          </div>
        </div>
  
      <div id="{{track.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="container" style="padding-top: 1em; padding-bottom: 2em;">
              <div class="row">
                <!--div class="col-sm text-left">
                    <p>Esta cancion forma parte del album "{{ track.album.name }}" que fue publicado en la fecha {{ track.album.release_date }}, si queres podes escuchar una parte del tema antes de agregarlo a la playlist</p>
                </div-->
                <div class="col-sm text-center">
                  <audio controls>
                      <source src="{{ track.preview_url }}" type="audio/ogg">
                  </audio>
                  <br>
                  <br>
                  <button type="button" (click)="setNextTrack(track.id)" class="btn btn-success waves-effect px-3"><i class="fas fa-rocket pr-2" aria-hidden="true"></i>Add to playlist</button>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>


</div>

<div *ngIf="exito" role="alert" class="alertpos alert alert-success animated fadeIn" >
  <strong>Listo!</strong>
  <button type="button" class="close" (click)="exito=false" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
      {{ mensaje }}
  </p>
</div>

<div *ngIf="error" role="alert" class="alertpos alert alert-danger animated fadeIn" >
  <strong>Error</strong>
  <button type="button" class="close" (click)="error=false" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p>
      {{ mensaje }}
  </p>
</div>